<div class="container">

	<!-- <div class="logout" *ngIf="_sharedService.user && _sharedService.user.uid; else showLogin">
		<button (click)="logout();">logout</button>
	</div> -->

	<!-- <ng-template> -->

		<div class="center">

			<div>
				<p>
					login with facebook
				</p>
				<button (click)="loginFacebook();">facebook</button>
			</div>

			<div>
				<p>
					no, i just want to play
				</p>
				<button (click)="anonLogin();">play now</button>
			</div>

		</div>

	<!-- </ng-template> -->
	<!-- <app-modal *ngIf="showModal" [modalDataToChild]="modalDataFromParent"></app-modal> -->
</div>
